<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "styles/styles.css">
</head>

<body>
    <center>
        <div class="main">
            <h1 class="title">Student Questionairre</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non porro labore tenetur, quia quod est natus quo aspernatur sequi? Blanditiis saepe quo, eos error officiis vel consequuntur accusamus et maxime?</p>
        </div>
            
        <form id="questionnaireForm">

        <div class="question">
            <label>Name</label><br>
            <input placeholder="Your name" class="textbox" type="text" name="q1" required>

        </div>

        <div class="question">
            <label>Email Address</label><br>
            <input placeholder="Your Email" class="textbox" type="email" name="q1" required>

        </div>

        <div class="question">
            <label>Roll No.</label><br>
            <input placeholder="Your Roll Number" class="textbox" type="text" name="q1" required>

        </div>

        <!-- Question 1 -->
        <div class="question">
            <label>Question</label><br>
            <input class="first-option option" type="radio" name="q1" value="Yes" required> Yes<br>
            <input type="radio" name="q1" value="No" required> No
        </div>

        <!-- Question 2 -->
        <div class="question">
            <label>question</label><br>
            <input class="first-option option" type="radio" name="q2" value="Yes" required> Yes <br>
            <input type="radio" name="q2" value="No" required> No
        </div>

        <!-- Question 3 -->
        <div class="question">
            <label>question</label><br>
            <input class="first-option option" type="radio" name="q3" value="Yes" required> Yes<br>
            <input type="radio" name="q3" value="No" required> No
        </div>

        <!-- Question 4 -->
        <div class="question">
            <label>question</label><br>
            <input class="first-option option" type="radio" name="q4" value="Yes" required> Yes<br>
            <input type="radio" name="q4" value="No" required> No
        </div>

        <!-- Question 5 -->
        <div class="question">
            <label>question</label><br>
            <input class="first-option option" type="radio" name="q5" value="Yes" required> Yes<br>
            <input type="radio" name="q5" value="No" required> No
        </div>

        <br>
        <button type="submit">Submit</button>
    </form>

    <div class="footer">
        <footer>Copyright CSE department 2025</footer>
    </div>
    </center>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>