<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "styles/result.css">
    <title>Login</title>
</head>
<body>
    <center>
        <center>
                
        </center>
        <div class="container">
            <h1>Download your result file.</h1>
            <a href="roomamate-match\roommate-matcher\compatibility_scores.json" download="compatibility_scores.json">
                <button>Download</button>
            </a>
        </div>
        <div class="footer">
            <footer>Copyright CSE department 2025</footer>
        </div>
    </center>
    


</body>
</html>