<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submited</title>
    <link rel = "stylesheet" href = "styles/submit.css">
</head>
<body>
    <h1>Your responses have been submitted, <%=name%>! </h1>
</body>
</html>